## Assignment 1 Exercise 2
### Yagublu Jeyhun

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
import math
import time

from scipy.stats.stats import pearsonr
import itertools

from sklearn.decomposition import PCA

pd.set_option('display.expand_frame_repr', False)
%matplotlib inline

In [2]:
data_path = "corrtestdata.csv"
original_data = data = pd.read_csv(data_path)

* We drop the outlier rats

In [3]:
idx=['rat2','rat53','rat120','rat434']
idx=data[data['id'].isin(idx)].index
data=data.drop(idx)
data=data.reset_index(drop=True)
data.head()

     id  day  weight  gender  liverind  heartind    appind  femstate  gonfatind    batind  sulcer  kmethod   tailind  blength  place  year   ADWBind    gonind       BMI
0  rat1   67    22.0       1  0.036364  0.005091  0.013636         4   0.000000  0.001864       1        2  0.714286     10.5      1     5  0.454545  0.000000  0.199546
1  rat3  230    37.5       1  0.051200  0.006133  0.020800         4   0.000000  0.001467       2        1  0.904762     10.5      2     8  0.653333  0.000000  0.340136
2  rat4  261    45.0       2  0.047333  0.005556  0.105111        -1   0.293333  0.002178       1        1  0.869565     11.5      4     2  0.260000  2.653242  0.340265
3  rat5  262    43.0       1  0.052558  0.005349  0.021628         4   0.000000  0.001884       1        1  0.720000     12.5      2     8  0.500000  0.000000  0.275200
4  rat6  169    40.0       1  0.057250  0.006500  0.014000         4   0.000000  0.002925       2        1  0.826087     11.5      2     7  0.575000  0.000000  0.302457

* We drop the laboratory rats

In [4]:
idx=[4,5,6,7,8,9]
idx=data[data['place'].isin(idx)].index
data=data.drop(idx)
data=data.reset_index(drop=True)
data.head()

     id  day  weight  gender  liverind  heartind    appind  femstate  gonfatind    batind  sulcer  kmethod   tailind  blength  place  year   ADWBind    gonind       BMI
0  rat1   67    22.0       1  0.036364  0.005091  0.013636         4     0.0000  0.001864       1        2  0.714286     10.5      1     5  0.454545  0.000000  0.199546
1  rat3  230    37.5       1  0.051200  0.006133  0.020800         4     0.0000  0.001467       2        1  0.904762     10.5      2     8  0.653333  0.000000  0.340136
2  rat5  262    43.0       1  0.052558  0.005349  0.021628         4     0.0000  0.001884       1        1  0.720000     12.5      2     8  0.500000  0.000000  0.275200
3  rat6  169    40.0       1  0.057250  0.006500  0.014000         4     0.0000  0.002925       2        1  0.826087     11.5      2     7  0.575000  0.000000  0.302457
4  rat7  230    50.0       2  0.046800  0.004800  0.008000        -1     0.0028  0.001420       2        1  0.826087     11.5      2     8  0.610000  0.131028  0.378072

* We express day circular feature with degrees and drop the features that we don't need for the calculation

In [5]:
data.drop(['weight','gender','gonind','liverind','heartind','appind','femstate','sulcer','kmethod','tailind','blength','year','ADWBind','BMI','place'],axis=1,inplace=True)
data.loc[:,'degree_day']=data.loc[:,'day']/365*360
data.head()

     id  day  gonfatind    batind  degree_day
0  rat1   67     0.0000  0.001864   66.082192
1  rat3  230     0.0000  0.001467  226.849315
2  rat5  262     0.0000  0.001884  258.410959
3  rat6  169     0.0000  0.002925  166.684932
4  rat7  230     0.0028  0.001420  226.849315

* We calculate the sine and cosine of day expressed as degrees

In [6]:
data.loc[:,'day_degree_sine']=np.sin(data.loc[:,'degree_day']*np.pi/180)
data.loc[:,'day_degree_cosine']=np.cos(data.loc[:,'degree_day']*np.pi/180)
data.head()

     id  day  gonfatind    batind  degree_day  day_degree_sine  day_degree_cosine
0  rat1   67     0.0000  0.001864   66.082192         0.914128           0.405426
1  rat3  230     0.0000  0.001467  226.849315        -0.729558          -0.683919
2  rat5  262     0.0000  0.001884  258.410959        -0.979614          -0.200891
3  rat6  169     0.0000  0.002925  166.684932         0.230306          -0.973118
4  rat7  230     0.0028  0.001420  226.849315        -0.729558          -0.683919

* We calculate pairwise correlation coefficients of features

In [7]:
import pingouin as pg
correlation=pg.pairwise_corr(data.drop('id',axis=1), method='pearson')

In [8]:
correlation

                  X                  Y   method alternative    n         r           CI95%          p-unc        BF10     power
0               day          gonfatind  pearson   two-sided  479  0.123887    [0.03, 0.21]   6.631808e-03       2.255  0.776206
1               day             batind  pearson   two-sided  479 -0.441239  [-0.51, -0.37]   3.062132e-24   1.237e+21  1.000000
2               day         degree_day  pearson   two-sided  479  1.000000      [1.0, 1.0]   0.000000e+00         nan  1.000000
3               day    day_degree_sine  pearson   two-sided  479 -0.826249   [-0.85, -0.8]  5.621386e-121  1.436e+117  1.000000
4               day  day_degree_cosine  pearson   two-sided  479 -0.467520  [-0.53, -0.39]   2.203731e-27   1.577e+24  1.000000
5         gonfatind             batind  pearson   two-sided  479 -0.058105   [-0.15, 0.03]   2.042877e-01       0.128  0.245776
6         gonfatind         degree_day  pearson   two-sided  479  0.123887    [0.03, 0.21]   6.631808e-03       2.255  0.776206
7         gonfatind    day_degree_sine  pearson   two-sided  479 -0.115924   [-0.2, -0.03]   1.111513e-02       1.423  0.720050
8         gonfatind  day_degree_cosine  pearson   two-sided  479 -0.087092    [-0.18, 0.0]   5.681502e-02       0.349  0.478792
9            batind         degree_day  pearson   two-sided  479 -0.441239  [-0.51, -0.37]   3.062132e-24   1.237e+21  1.000000
10           batind    day_degree_sine  pearson   two-sided  479  0.406866    [0.33, 0.48]   1.598557e-20   2.658e+17  1.000000
11           batind  day_degree_cosine  pearson   two-sided  479  0.340572    [0.26, 0.42]   1.793663e-14   2.982e+11  1.000000
12       degree_day    day_degree_sine  pearson   two-sided  479 -0.826249   [-0.85, -0.8]  5.621386e-121  1.436e+117  1.000000
13       degree_day  day_degree_cosine  pearson   two-sided  479 -0.467520  [-0.53, -0.39]   2.203731e-27   1.577e+24  1.000000
14  day_degree_sine  day_degree_cosine  pearson   two-sided  479  0.221426     [0.13, 0.3]   9.862622e-07    8773.526  0.998447

* We define correlation coefficent of day_degree_cosine and day_degree_sine

In [9]:
r_cs=0.221426

* I defined a function to calculate Coefficient R between a circulat and a linear feauture

In [10]:
def circular_correlation (r_xc ,r_xs,r_cs):
    R_sq=(r_xc**2+r_xs**2-2*r_xc*r_cs*r_xs)/(1.0-r_cs**2)
    return R_sq**0.5

* We calculate Coefficient R between gonfatind and day expressed as degrees

In [11]:

circular_correlation_gonfatind_day=circular_correlation(-0.087092,-0.115924,r_cs)
circular_correlation_gonfatind_day

0.13193076435441334

* We calculate Coefficient R between batind and day expressed as degrees

In [12]:
circular_correlation_batind_day=circular_correlation(0.340572,0.406866,r_cs)
circular_correlation_batind_day

0.4811606471461729

* From the results we can see that gonfatind and day has little correlation (r= 0.1319)
* From the result we can see that batind and day has bigger correlation , r is almost 0.5. So we can say that batind and day has some relation and day of the year can affect batind value in wild rats (but we don't know the sign of this relation since we don't know the sign of real r)
* **Side note:** from the results we can also see that correlations calculated specifically for circular values care very close to the correlation coefficients that are calculated normally without considering circularity of a feature: r=0.1239 between day and gonfatind which is very close to value 0.132 we have found. Also r=-0.441239 between  day and batind whose absolute value is somehow close to the result we have found 0.4812.